*{
    padding: 0%;
    margin: 0%;
    outline: none;
}
body{
    background-color: teal;
    max-width: 100vw;
    text-align: left;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.calculatrice{
   width: 290px;
   height: 390px;
   background-color: white;
   border-radius: 7px;
}
input[type="text"]{
   width:270px;
   height:60px;
   margin-top: -10px;
   border-radius: 2px;
   background-color: #000;
   border: 1px solid gray;
   color: #fff;
   font-size: 25px;
   font-weight: bold;
   text-align: center;
   padding-right: 20px;
}
form .button{
    width: 300px;
    margin: 0px 20px 0px 20px;
    padding: 10px 0;
}
.ecran{
    background-color: white;
}
input[type="button"]{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    font-size: 22px;
    line-height: 55px;
    border: 1px solid rgb(77, 77, 77);
}
input[type="button"]:hover{
    transition: 0.4s;
    background-color: rgb(214, 214, 214);
}
input#supp{
    background-color: rgb(230, 0, 0);
    border: 1px solid rgb(177, 177, 177);
    color: #fff;
}
 input#result{
    /*width: 250px;*/
    width: 50px;
    margin: 10px;
    font-size: 25px;
    color: #fff;
    background-color: rgb(22, 84, 141);
    font-weight: bold;
}
.egales{
   margin-left: 65%;
   margin-top: -82%;
   height: 20%;
  }
  .egales input{
  width:270px;
  height: 80%;
  padding: 85px 0 90px 0;

  }